* {
    box-sizing: border-box;
}


/*----------Main part----------*/

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #404040;
    font-size: 14px;
    line-height: 22px;
    background: url("images/doodles.png") repeat;
}

.wrapper {
    color: #444;
    max-width: 1200px;
    height: 100%;
    margin: auto;

    display: grid;
    grid-gap: 1em;
    grid-template-areas: "header" "content" "sidebar" "footer"
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    padding: 0 1em;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.header {
    margin-top: 10px;
    min-height: 100px;
    grid-area: header;
    background-color: #FB8D11;
}

.footer {
    grid-area: footer;
}

.box {
    color: #fff;
    padding: 10px;
    font-size: 150%;
}

.sidebar {
    color: #444;
}

/*---------------------------------------------------------------------------------------*/
/*------------------------------------Burger---------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

.burger {
    display: none;
}

#menu a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menu a:hover {
    color: #FB8D11;
}

#menuToggle {
    display: block;
    position: relative;
    top: 57px;
    left: 30px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: white;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

/*-------------------------------------------------------------------------------------------------------*/
/*---------------------------------------Right block at header-------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/

.main-nav .right-block {
    display: flex;
    flex-direction: column;
}

.main-nav .social,
.main-nav .search {
    font-size: 25px;
    display: flex;
    align-content: center;
    margin-right: 30px;

    text-align: center;

}

.main-nav .search {
    border: 2px solid white;
}

.search-area i {
    margin: auto 5px;
}

/*-------------------------------------------------------------------------------------------*/
/*-----------------------------------Navigation----------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

.main-nav {
    display: flex;
    color: white;
    padding: 1em;
    font-family: sans-serif;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    flex: 3;
    justify-content: center;
    text-align: center;
}

.main-nav li {
    margin-right: 1em;
}

.main-nav .search-area {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    min-height: 40px;
}

.main-nav .logo {
    display: flex;
    flex: 4;
    justify-content: left;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    padding: 10px

}

.main-nav a {
    color: white;
    text-decoration: none;
}

.main-nav button {
    background: white;
    border: 0;
    border-radius: 1em;
    padding: 0 1em;
    margin-left: .3em;
}

/*--------------------------------------*/
/*-----------------CARD-----------------*/
/*--------------------------------------*/

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    color: black;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}

.card-media {
    width: 100%;
    overflow: hidden;
}

.content .card img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.content .card img:hover {
    transform: scale(1.1);
}

.card-details {
    padding: 5px 15px;
}

.card-head {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 15px;
}

.card-action-button {
    border-radius: 2px;
    color: #FFAB40;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}

.card-action-button:hover {
    background-color: rgba(255, 168, 58, .2);
}

.card .info {
    display: flex; justify-content: space-between;
    margin-top: 15px;
}
.card .info span {
    display: block;
}
.card .info strong{
    font-weight: bold;
}


/*------------------------------------------------------*/
/*------------Profile Card and Aside containers---------*/
/*------------------------------------------------------*/

.aside-container {
    margin: auto;
    line-height: 1.4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: flex-start;
    background-color: color(white);
    height: 100%;

}

.aside-container .card {
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    padding: 10px 30px;
    width: 100%;
    margin-bottom: 10px;
}

.profile {
    background: #fff url("http://csrfilm.co.kr/wp-content/uploads/2018/03/Orange-Wallpaper-152-Go.png") top -10% center no-repeat;
    background-size: contain;
}

.profile img {
    background-color: color(grey);
    height: 80%;
    width: 80%;
    border-radius: 50%;
    margin: auto auto 15px;
    display: block;
}

.aside-container h1 {
    font-size: 22px;
    margin: 10px auto 0;
    letter-spacing: 1px;
}

.aside-container h2 {
    margin: 5px auto auto;
    color: black;
    font-weight: 300;
    font-size: 15px;
}

.aside-container .social {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
}

.aside-container .social a {
    text-decoration: none;
    color: #33383b;
}

.aside-container input {
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #FB8D11;
}

.subscribe input:nth-child(1) {
    margin-bottom: 10px;
}

.card-link {
    display: block;
    text-decoration: none;
    background: #FFAB40;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    min-width: 200px;
}

/*--------------------------------------------------------------------------------*/
/*----------------------------------Comments--------------------------------------*/
/*--------------------------------------------------------------------------------*/

.comment {
    padding: 5px;
    margin: 10% auto;
    text-overflow: ellipsis;
}

.comment img {
    background-color: grey;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    border: 2px solid black;
}

.comment .data {
    max-width: 90%;
}

.comment .name {
    font-size: 1rem;
}

.comment .text {
    padding-left: 10px;
    font-size: 0.7rem;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*----------------------------------------------------------------------------------------*/
/*-------------------------------------Tagcloud-------------------------------------------*/
/*----------------------------------------------------------------------------------------*/

.tagcloud ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tagcloud span {
    font-size: 14px;
    text-align: center;
}

.tagcloud ul li {
    display: inline-block;
    margin: 0 0 .3em 1em;
    padding: 0;
}

.tagcloud ul li a {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 1em;
    background-color: #33383b;
    border-radius: 0 3px 3px 0;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

.tagcloud ul li a::before {
    position: absolute;
    top: 0;
    left: -15px;
    content: '';
    width: 0;
    height: 0;
    border-color: transparent #33383b transparent transparent;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    -webkit-transition: .2s;
    transition: .2s;
}

.tagcloud ul li a::after {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background-color: #fff;
    border-radius: 100%;
}

.tagcloud ul li span {
    display: block;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tagcloud ul li a:hover {
    background-color: #FB8D11;
}

.tagcloud ul li a:hover::before {
    border-right-color: #FB8D11;
}

/*---------------------------------------------------------------------------------*/
/*------------------------------------Footer---------------------------------------*/
/*---------------------------------------------------------------------------------*/

.footer-distributed {
    background-color: #FB8D11;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}

/* !!! Media Queries !!! */

@media only screen and (min-width: 720px) {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: 200px auto 300px;
        grid-template-rows: 20% auto 20%;
        grid-template-areas: "header  header  header" "content content sidebar" "footer  footer  footer";
    }
}

@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

@media screen and (max-width: 720px) {
    .main-nav {
        flex-direction: column;
    }

    .main-nav ul {
        display: none;
    }

    .main-nav .logo {
        font-size: 60px;
        justify-content: center;
        order: 2;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .right-block {
        order: 1;
    }

    .right-block .search-area button {
        display: none;
    }

    .aside-container h1 {
        font-size: 30px;
    }

    .aside-container .profile h2 {
        margin-top: 10px;
        font-size: 20px;
    }

    .aside-container h2 {
        font-size: 25px;
    }
    .search-area .social {
        display: none;
    }

    .comment div.name {
        font-size: 1.2rem;
    }

    .comment p.text {
        font-size: 1rem;
    }

    .burger {
        display: block;
    }

    .comment img {
        height: 70px;
        width: 70px;
    }
}
